<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Wheelplex</title>
  </head>
  <body>
    <div id="app" class="container my-2 mx-auto">
      <div>
        <h1 class="is-size-1 has-text-weight-bold has-text-centered mb-4">
          W H E E L P L E X
        </h1>

        <p v-if="mode === 'loading'">
          Loading data from your Plex server. Please wait...
        </p>

        <div v-if="mode === 'ready'">
          <p class="has-text-weight-bold">Filter your collection:</p>
          <ul class="my-2">
            <li>
              <label class="checkbox">
                <input type="checkbox" v-model="filters.unwatched" />
                Unwatched
              </label>
            </li>
            <li>
              <label class="checkbox">
                <input type="checkbox" v-model="filters.bad_critic" />
                Bad critic reviews
              </label>
            </li>
            <li>
              <label class="checkbox">
                <input type="checkbox" v-model="filters.bad_audience" />
                Bad audience reviews
              </label>
            </li>
            <li>
              <label class="checkbox">
                <input type="checkbox" v-model="filters.disparity" />
                Audiences liked, but critics hated
              </label>
            </li>
          </ul>

          <p class="has-text-weight-bold">
            {{filtered.length}} movies selected
          </p>
          <button
            class="button has-text-weight-bold is-size-3 my-2 is-success"
            v-on:click="spin"
          >
            SPIN
          </button>
        </div>
      </div>

      <div v-show="mode === 'spinning' || mode === 'done'">
        <div class="columns">
          <div class="column">
            <canvas id="canvas" width="660" height="660"></canvas>
          </div>

          <div class="column">
            <div v-if="mode === 'done'">
              <h1 class="is-size-3 has-text-weight-bold">{{winner.title}}</h1>
              <p>{{winner.genres.join(' | ')}}</p>
              <p>
                Rotten Tomatoes {{winner.critic_rating}}/10 | Audience
                {{winner.audience_rating}}/10
              </p>
              <img
                :src="winner.thumbnail_url"
                alt="Movie poster"
                width="300"
                style="min-height: 450px"
                class="my-3"
              />
              <p>{{winner.summary}}</p>
            </div>
          </div>
        </div>
      </div>

      <div v-if="mode === 'done'" class="mt-4 has-text-centered">
        <button
          class="button has-text-weight-bold is-size-5 mx-2 is-danger"
          v-on:click="reset"
        >
          Reset
        </button>
        <button
          class="button has-text-weight-bold is-size-5 mx-2 is-success"
          v-on:click="spinAgain"
        >
          Spin Again
        </button>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.7/vue.global.js"
      integrity="sha512-+i5dAv2T8IUOP7oRl2iqlAErpjtBOkNtREnW/Te+4VgQ52h4tAY5biFFQJmF03jVDWU4R7l47BwV8H6qQ+/MfA=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
      integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w=="
      crossorigin="anonymous"
    ></script>
    <script src="winwheel-2.8.0.min.js"></script>
    <script src="app.js"></script>
    <script>
      main();
    </script>
  </body>
</html>
